.pf-row-symbol, .pf-header-symbol {
  text-align: left;
  padding-left: 4px;
  width: 100px;
}

.pf-row-price, .pf-header-price {
  width: 120px;
}

.pf-row-quantity, .pf-header-quantity {
  width: 100px;
}

.pf-row-current-value, .pf-header-current-value {
  width: 140px;
}

.pf-row-basis, .pf-header-basis {
  width: 140px;
}

.pf-row-gain, .pf-header-gain {
  width: 110px;
  text-align: right;
  padding-right: 4px;

}

.pf-item {
  cursor: pointer;
  padding: 8px 0;
  border-top: 1px solid #dfdfdf;
  &:hover {
    background-color: #fafafa;
  }
}

.pf-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  &:not(:first-child) {
    margin-top: 4px;
  }
}

.pf-row-symbol {
  .pf-company-name {
    font-size: 12px;
    color: #939a9e;
  }
}

.pf-row-price {
  display: flex;
  justify-content: center;
}

.pf-price {
  border-radius: 2px;
  color: white;
  width: 56px;
  padding: 4px 4px;
  &.pf-price-green {
    background-color: #00cc00;
  }
  &.pf-price-red {
    background-color: #ff2d2d;
  }
}

.pf-row-actions {
  width: 50px;
  text-align: center;
  a {
    font-size: 12px;
    color: #a4a7af;
  }
}

.pf-color-red {
  color: #ff2d2d;
}

.pf-color-green {
  color: #00b500;
}
