.pf-summary {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  .pf-summary-item-label {
    color: #1d2129;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 12px;
  }

  .pf-summary-unrealized {
    .pf-market-fund-value {
      margin-top: 4px;
      font-size: 14px;
      color: #939a9e;
    }
  }
  .pf-summary-realized, .pf-summary-unrealized, .pf-summary-overall {
    text-align: right;
  }
}
